Repository TheKevJames/tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$, but not: ^docker-tuning-primer/root/.*.sh$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$ and not (^docker-tuning-primer/root/.*.sh$)
  pytest-fixtures-require-scope: any of: \.py$, but not: ^docker-tuning-primer/root/.*.sh$

feat(renovate): trust docker.homepage patches
  trustedpackages.json
Due: none

feat(renovate): trust pypi.googlepubsub minors
  trustedpackages.json
Due: none

feat(renovate): widen poetry build requires
  default.json
Due: none

feat(renovate): widen all build requires
  default.json
Due: none

feat(renovate): trust pypi.jinja2 minors
  trustedpackages.json
Due: none

chore(deps): bump caddy-security
  docker-caddy-security/Dockerfile
Due: none

chore(renovate): migrate config field names
  .github/renovate.json5
  default.json
  trustedpackages.json
Due: none

chore(renovate): handle "dev" vs "devDependencies" synonym
  default.json
Due: none

feat(renovate): trust pypi.aiohttp minors
  trustedpackages.json
Due: none

feat(renovate): trust pypi.flask patches
  trustedpackages.json
Due: none

chore(cctui): bump version
  cctui/Cargo.lock
  cctui/Cargo.toml
Due: none

feat(gcloud-pubsub-emulator): prettyprint compiled config
  docker-gcloud-pubsub-emulator/pubsubc.py
  docker-gcloud-pubsub-emulator/run.sh
Due: pytest-fixtures-require-scope

feat(gcloud-pubsub-emulator): support json file config
  docker-gcloud-pubsub-emulator/.dockerignore
  docker-gcloud-pubsub-emulator/README.rst
  docker-gcloud-pubsub-emulator/config.json
  docker-gcloud-pubsub-emulator/pubsubc.py
Due: pytest-fixtures-require-scope

refactor(gcloud-pubsub-emulator): use dataclasses for configs
  .pre-commit-config.yaml
  docker-gcloud-pubsub-emulator/pubsubc.py
Due: pytest-fixtures-require-scope

feat(gcloud-pubsub-emulator): support push subscriptions
  docker-gcloud-pubsub-emulator/README.rst
  docker-gcloud-pubsub-emulator/config.json
  docker-gcloud-pubsub-emulator/pubsubc.py
Due: pytest-fixtures-require-scope

chore: fix lint issue
  docker-gcloud-pubsub-emulator/pubsubc.py
Due: pytest-fixtures-require-scope

feat(gcloud-pubsub-emulator): support push subscriptions and file configs (#727)
  .pre-commit-config.yaml
  docker-gcloud-pubsub-emulator/.dockerignore
  docker-gcloud-pubsub-emulator/README.rst
  docker-gcloud-pubsub-emulator/config.json
  docker-gcloud-pubsub-emulator/pubsubc.py
  docker-gcloud-pubsub-emulator/run.sh
Due: pytest-fixtures-require-scope

chore(ci): pin docker to circleci stable
  .circleci/config.yml
Due: none

feat(renovate): trust docker.sonarr minors
  trustedpackages.json
Due: none

feat(fava): build docker-fava autobuilder
  .circleci/config.yml
  README.rst
  docker-fava/Dockerfile
  docker-fava/README.rst
Due: none

fix(fava): fixup build deps
  docker-fava/Dockerfile
  docker-fava/README.rst
Due: none

chore(gcloud-pubsub-emulator): bump duild deps
  docker-gcloud-pubsub-emulator/Dockerfile
Due: none

feat(ci): autopublish tuning-primer / mysqltuner
  .circleci/config.yml
Due: none

docs(gcloud-pubsub-emulator): fix typo
  docker-gcloud-pubsub-emulator/README.rst
Due: none

feat(docker): use regexmanagement for in-dockerfile pins
  .circleci/config.yml
  default.json
  docker-caddy-security/Dockerfile
  docker-fava/Dockerfile
  docker-gcloud-pubsub-emulator/Dockerfile
Due: none

chore(renovate): matchPackagePatterns -> matchDepPatterns where relevant
  default.json
Due: none

feat(renovate): group gcs filesystem packages
  default.json
Due: none

fix(gcloud-pubsub-emulator): fixup netcat / netcat-openbsd mixup
  docker-gcloud-pubsub-emulator/Dockerfile
Due: none

chore(pre-commit): fixup now-unused type ignore
  .pre-commit-config.yaml
  docker-gcloud-pubsub-emulator/pubsubc.py
Due: pytest-fixtures-require-scope

feat(userstyles): support some new circleci gruvbox selectors
  userstyles/circleci-gruvbox-dark.user.css
Due: none

chore(userstyles): circleci gruvbox version bump
  userstyles/circleci-gruvbox-dark.user.css
Due: none

chore(cctui): migrate tui->ratatui, bump to latest
  cctui/Cargo.lock
  cctui/Cargo.toml
  cctui/src/display/ui.rs
  cctui/src/main.rs
  cctui/src/util/mod.rs
Due: none

refactor(cctui): migrate from termion to crossterm
  cctui/Cargo.lock
  cctui/Cargo.toml
  cctui/src/display/app.rs
  cctui/src/main.rs
  cctui/src/util/event.rs
  cctui/src/util/mod.rs
Due: none

chore(release): bump version
  cctui/Cargo.lock
  cctui/Cargo.toml
Due: none

chore: export libspacerep
  libspacerep/.gitignore
  libspacerep/Makefile
  libspacerep/README.rst
  libspacerep/ffibuild.py
  libspacerep/spacerep.nimble
  libspacerep/src/spacerep.nim
  libspacerep/src/spacerep/sm15.nim
  libspacerep/src/spacerep/sm2.nim
  libspacerep/tests/lib_test.c
  libspacerep/tests/lib_test.nim
  libspacerep/tests/lib_test.py
  libspacerep/tests/requirements.txt
Due: pytest-fixtures-require-scope

refactor(task): rewrite in python
  .pre-commit-config.yaml
  task/.gitignore
  task/poetry.lock
  task/pyproject.toml
  task/src/task.nim
  task/src/task.nims
  task/src/task/cmd.nim
  task/src/task/config.nim
  task/src/task/filter.nim
  task/src/task/types.nim
  task/task.nimble
  task/task/__init__.py
  task/task/cli.py
  task/task/cmd.py
  task/task/files.py
  task/task/schema.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

feat(renovate): support automerge for quay
  trustedpackages.json
Due: none

chore(release): bump mysqltuner
  docker-mysqltuner/Dockerfile
  docker-mysqltuner/Makefile
  docker-mysqltuner/root/mysqltuner.pl
  docker-mysqltuner/root/vulnerabilities.csv
Due: none

chore(pre-commit): automerge updates
  .github/autoapproval.yml
Due: none

feat(renovate): trust pypi.fava minors
  trustedpackages.json
Due: none
