Repository TheKevJames/tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$, but not: ^docker-tuning-primer/root/.*.sh$
  pyproject-use-version-ranges: any of: pyproject.toml$ and \.toml$ and not (^docker-tuning-primer/root/.*.sh$)
  pytest-fixtures-require-scope: any of: \.py$, but not: ^docker-tuning-primer/root/.*.sh$

increase timeout to 120
  docker-gcloud-pubsub-emulator/run
Due: none

feat(renovate): set rangeStrategy for poetry extras
  default.json
Due: none

fix(renovate): fix incorrect syntax for build-system.requires
  default.json
Due: none

fix(fava): fixup build image for beancount v3
  docker-fava/Dockerfile
Due: none

chore(deps): update poetry to v2.x
  .pre-commit-config.yaml
  docker-gcloud-pubsub-emulator/Dockerfile
  docker-gcloud-pubsub-emulator/poetry.lock
  docker-gcloud-pubsub-emulator/pyproject.toml
Due: poetry-check, pyproject-use-version-ranges

Add .github actions so docker-gcloud-pubsub-emulator container is pushed to artifacts
  .github/actions/docker-build/action.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build-image.yml
Due: none

feat(renovate): group hadoop gradle updates
  default.json
Due: none

fix(renovate): fixup mariadb vs mysql confusion
  docker-mysqltuner/Dockerfile
  docker-tuning-primer/Dockerfile
Due: none

fix(mariadb): fixup version pins
  docker-mysqltuner/Dockerfile
  docker-tuning-primer/Dockerfile
Due: none

feat(renovate): trust crate.config patches
  trustedpackages.json
Due: none

feat(task): support sorting results
  task/pyproject.toml
  task/task/cli.py
  task/task/cmd.py
  task/task/schema.py
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

refactor(pubsubc): encapsulate subscription creation args
  docker-gcloud-pubsub-emulator/pubsubc.py
Due: pytest-fixtures-require-scope

feat(pubsubc): handle arbitrary subscription configs
  docker-gcloud-pubsub-emulator/README.rst
  docker-gcloud-pubsub-emulator/config.json
  docker-gcloud-pubsub-emulator/pubsubc.py
Due: pytest-fixtures-require-scope

feat(renovate): upgrade trust of docker/homepage to include minors
  trustedpackages.json
Due: none

feat(pubsubc): handle arbitrary subscription configs (#1210)
  docker-gcloud-pubsub-emulator/README.rst
  docker-gcloud-pubsub-emulator/config.json
  docker-gcloud-pubsub-emulator/pubsubc.py
Due: pytest-fixtures-require-scope

feat(gcloud-pubsub-emulator): add optional timeout
  docker-gcloud-pubsub-emulator/README.rst
  docker-gcloud-pubsub-emulator/run
Due: none

fix(caddy-security): bump go toolchain version
  docker-caddy-security/Dockerfile
Due: none

feat(task): open EDITOR when running task edit
  task/poetry.lock
  task/pyproject.toml
  task/task/cli.py
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

chore(repo): bump task gitignore
  task/.gitignore
Due: none

feat(renovate): trust docker.docker/dockerfile minors
  trustedpackages.json
Due: none

fix(mysqltuner): fix dependency pins
  docker-mysqltuner/Dockerfile
Due: none

feat(atc1441-exporter): build atc1441-exporter
  .circleci/config.yml
  .pre-commit-config.yaml
  README.rst
  default.json
  docker-atc1441-exporter/Dockerfile
  docker-atc1441-exporter/README.rst
  docker-atc1441-exporter/atc1441_exporter/__init__.py
  docker-atc1441-exporter/atc1441_exporter/bluetooth_utils.py
  docker-atc1441-exporter/atc1441_exporter/main.py
  docker-atc1441-exporter/poetry.lock
  docker-atc1441-exporter/pyproject.toml
  docker-gcloud-pubsub-emulator/Dockerfile
  mypy.ini
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

fix(atc1441-exporter): fix dockerfile
  docker-atc1441-exporter/Dockerfile
Due: none

feat(atc1441-exporter): push versioned docker tags
  .circleci/config.yml
Due: none

chore(deps): fix tuning-primer socat pin
  docker-tuning-primer/Dockerfile
Due: none

fix(nox): fixup py3.8 pip installation
  docker-nox/Dockerfile
Due: none

feat(renovate): add otel-distro to otel-instrument monorepo
  default.json
Due: none

feat(renovate): trust docker.n8n minors
  trustedpackages.json
Due: none

fix(renovate): fixup poetry.python widen selector for poetry v2
  default.json
Due: none

refactor(atc1441): pull out relevant bluetooth utils
  .pre-commit-config.yaml
  docker-atc1441-exporter/atc1441_exporter/bluetooth_utils.py
  docker-atc1441-exporter/atc1441_exporter/main.py
  docker-atc1441-exporter/atc1441_exporter/utils.py
  docker-atc1441-exporter/poetry.lock
  docker-atc1441-exporter/pyproject.toml
  mypy.ini
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

chore(release): bump atc1441 version
  docker-atc1441-exporter/pyproject.toml
Due: poetry-check, pyproject-use-version-ranges

refactor(atc1441): load as module to support proper type checking
  docker-atc1441-exporter/Dockerfile
  docker-atc1441-exporter/atc1441_exporter/main.py
  docker-atc1441-exporter/pyproject.toml
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

chore(atc): clean up bluetooth socket confusion
  docker-atc1441-exporter/atc1441_exporter/utils.py
  docker-atc1441-exporter/pyproject.toml
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(atc1441): emit log extras
  docker-atc1441-exporter/atc1441_exporter/main.py
  docker-atc1441-exporter/pyproject.toml
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

fix(atc1441): emit log extras
  docker-atc1441-exporter/atc1441_exporter/main.py
  docker-atc1441-exporter/atc1441_exporter/utils.py
  docker-atc1441-exporter/pyproject.toml
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(atc1441): set log level via env var
  docker-atc1441-exporter/atc1441_exporter/main.py
  docker-atc1441-exporter/pyproject.toml
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(atc1441): filter on packet length earlier
  docker-atc1441-exporter/atc1441_exporter/main.py
  docker-atc1441-exporter/pyproject.toml
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(renovate): trust pypi.pip minors
  trustedpackages.json
Due: none

fix(renovate): move default rangestrategy to packagerules
  default.json
Due: none
