Repository TheKevJames/tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry==2.2.1
  pass_filenames: true

pyproject-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(ci): update required pr checks
  .github/settings.yml
Due: none

fix(renovate): include PyCQA/pylint in pylint group
  renovate/groups.json5
Due: none

feat(task): support shared use by humans and bots
  .github/workflows/ci.yml
  task/pyproject.toml
  task/task/cli.py
  task/task/files.py
  task/task/schema.py
  task/tests/cli_test.py
  task/tests/files_test.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(task): support shared use by humans and bots (#1764)
  .github/workflows/ci.yml
  task/pyproject.toml
  task/task/cli.py
  task/task/files.py
  task/task/schema.py
  task/tests/cli_test.py
  task/tests/files_test.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(task): add priority and size fields
  task/pyproject.toml
  task/task/cli.py
  task/task/command.py
  task/task/files.py
  task/task/query.py
  task/task/schema.py
  task/tests/cli_test.py
  task/tests/files_test.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(task): add priority and size fields (#1765)
  task/pyproject.toml
  task/task/cli.py
  task/task/command.py
  task/task/files.py
  task/task/query.py
  task/task/schema.py
  task/tests/cli_test.py
  task/tests/files_test.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(tasks): remove presets
  task/pyproject.toml
  task/task/cli.py
  task/task/query.py
  task/tests/cli_test.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(task)!: sqlite backend
  task/pyproject.toml
  task/task/cli.py
  task/task/command.py
  task/task/db.py
  task/task/files.py
  task/task/query.py
  task/task/schema.py
  task/tests/cli_test.py
  task/tests/db_test.py
  task/tests/files_test.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(task)!: sqlite backend (#1769)
  task/pyproject.toml
  task/task/cli.py
  task/task/command.py
  task/task/db.py
  task/task/files.py
  task/task/query.py
  task/task/schema.py
  task/tests/cli_test.py
  task/tests/db_test.py
  task/tests/files_test.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

fix(renovate): support four-part CalVer for Homebrew/actions
  renovate/versioning.json5
Due: none

feat(task): show help when called without a command
  task/pyproject.toml
  task/task/cli.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(task): show help when called without a command (#1786)
  task/pyproject.toml
  task/task/cli.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(gha): add reusable workflow to reconcile repository rulesets
  .github/workflows/_rulesets.yml
  gha/gha_tools/rulesets/__init__.py
  gha/gha_tools/rulesets/__main__.py
  gha/gha_tools/rulesets/checks.py
  gha/gha_tools/rulesets/desired.py
  gha/gha_tools/rulesets/diff.py
  gha/gha_tools/rulesets/github.py
  gha/gha_tools/rulesets/main.py
  gha/gha_tools/rulesets/report.py
  gha/pyproject.toml
  gha/tests/rulesets_checks_test.py
  gha/tests/rulesets_diff_test.py
  gha/tests/rulesets_main_test.py
  gha/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(gha): add reusable workflow to reconcile repository rulesets (#1787)
  .github/workflows/_rulesets.yml
  gha/gha_tools/rulesets/__init__.py
  gha/gha_tools/rulesets/__main__.py
  gha/gha_tools/rulesets/checks.py
  gha/gha_tools/rulesets/desired.py
  gha/gha_tools/rulesets/diff.py
  gha/gha_tools/rulesets/github.py
  gha/gha_tools/rulesets/main.py
  gha/gha_tools/rulesets/report.py
  gha/pyproject.toml
  gha/tests/rulesets_checks_test.py
  gha/tests/rulesets_diff_test.py
  gha/tests/rulesets_main_test.py
  gha/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(task)!: track update times and hide done tasks
  task/pyproject.toml
  task/task/cli.py
  task/task/db.py
  task/task/query.py
  task/task/schema.py
  task/task/timestamp.py
  task/tests/cli_test.py
  task/tests/db_test.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(task)!: track update times and hide done tasks (#1788)
  task/pyproject.toml
  task/task/cli.py
  task/task/db.py
  task/task/query.py
  task/task/schema.py
  task/task/timestamp.py
  task/tests/cli_test.py
  task/tests/db_test.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

fix(task): hide update age from task listings
  task/pyproject.toml
  task/task/schema.py
  task/task/timestamp.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

chore(repo): bump config
  .github/autoapproval.yml
  .github/rulesets/base.json
  .github/rulesets/required-checks.json
  .github/settings.yml
  .github/workflows/autoapproval.yml
  .github/workflows/rulesets.yml
  docker-atc1441-exporter/.pre-commit-config.yaml
  docker-atc1441-exporter/atc1441_exporter/_aioblescan/scanner.py
  docker-gcloud-pubsub-emulator/.pre-commit-config.yaml
  gha/.pre-commit-config.yaml
  task/.pre-commit-config.yaml
Due: pytest-fixtures-require-scope

feat(renovate): add setup-uv to uv group
  renovate/groups.json5
Due: none

Path conditions:
  poetry-check: any of: pyproject\.toml$, but not: ^docker-tuning-primer/root/.*.sh$
  pyproject-use-version-ranges: any of: pyproject.toml$ and \.toml$ and not (^docker-tuning-primer/root/.*.sh$)
  pytest-fixtures-require-scope: any of: \.py$, but not: ^docker-tuning-primer/root/.*.sh$
