Repository TheKevJames/tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry==2.2.1
  pass_filenames: true

pyproject-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(pre-commit): bump hook versions
  .pre-commit-config.yaml
Due: none

feat(task): TASK_FILE -> TASK_FOLDER
  task/task/files.py
Due: pytest-fixtures-require-scope

feat(task): breaking cli usage restructure
  task/pyproject.toml
  task/task/cli.py
  task/task/schema.py
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(task): improve `show` output
  task/task/cli.py
  task/task/schema.py
Due: pytest-fixtures-require-scope

feat(task): add support for descriptions
  task/task/cli.py
  task/task/command.py
  task/task/files.py
  task/task/schema.py
Due: pytest-fixtures-require-scope

chore(mypy): fixup atc1441 ignores
  docker-atc1441-exporter/atc1441_exporter/utils.py
Due: pytest-fixtures-require-scope

chore(deps): upgrade to bookworm
  docker-fava/Dockerfile
Due: none

feat(renovate): allow matching CI version params with prefixes
  renovate/custom.json5
Due: none

fix(orbs/prek): use glibc base instead of alpine
  circleci-orbs/prek.yml
Due: none

chore(repo): migrate poetry -> uv and mypy -> ty
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/workflows/autoapproval.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .pre-commit-config.yaml
  docker-atc1441-exporter/.pre-commit-config.yaml
  docker-atc1441-exporter/Dockerfile
  docker-atc1441-exporter/atc1441_exporter/main.py
  docker-atc1441-exporter/bin/pylint
  docker-atc1441-exporter/bin/ty
  docker-atc1441-exporter/poetry.lock
  docker-atc1441-exporter/pyproject.toml
  docker-atc1441-exporter/uv.lock
  docker-gcloud-pubsub-emulator/.pre-commit-config.yaml
  docker-gcloud-pubsub-emulator/Dockerfile
  docker-gcloud-pubsub-emulator/poetry.lock
  docker-gcloud-pubsub-emulator/pubsubc.py
  docker-gcloud-pubsub-emulator/pyproject.toml
  docker-gcloud-pubsub-emulator/uv.lock
  renovate/custom.json5
  task/.pre-commit-config.yaml
  task/poetry.lock
  task/pyproject.toml
  task/task/cli.py
  task/task/command.py
  task/task/files.py
  task/task/schema.py
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

chore(repo): bump config
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/wip.yml
  .pre-commit-config.yaml
  docker-atc1441-exporter/.pre-commit-config.yaml
  docker-gcloud-pubsub-emulator/.pre-commit-config.yaml
  task/.pre-commit-config.yaml
Due: none

feat(renovate): group uv deps
  renovate/groups.json5
Due: none

chore(ci): run atc linters in py39
  docker-atc1441-exporter/.pre-commit-config.yaml
  docker-atc1441-exporter/bin/pylint
  docker-atc1441-exporter/bin/ty
  docker-atc1441-exporter/pyproject.toml
  task/task/cli.py
  task/task/files.py
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

fix(ci): pin setuptools for pyobjc-framework-cocoa build
  docker-atc1441-exporter/pyproject.toml
Due: poetry-check, pyproject-use-version-ranges

fix(ci): drop unbuildable pyobjc deps from pybluez
  docker-atc1441-exporter/pyproject.toml
  docker-atc1441-exporter/uv.lock
Due: poetry-check, pyproject-use-version-ranges

fix(ci): constrain pybluez build toolchain instead of only adding it
  docker-atc1441-exporter/pyproject.toml
  docker-atc1441-exporter/uv.lock
Due: poetry-check, pyproject-use-version-ranges

chore(deps): update cctui lockfile
  cctui/Cargo.lock
Due: none

fix(ci): install libbluetooth-dev so pybluez builds
  .github/workflows/ci.yml
Due: none

feat(atc1441): replace pybluez with vendored aioblescan subset
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docker-atc1441-exporter/.pre-commit-config.yaml
  docker-atc1441-exporter/Dockerfile
  docker-atc1441-exporter/README.rst
  docker-atc1441-exporter/atc1441_exporter/_aioblescan.py
  docker-atc1441-exporter/atc1441_exporter/main.py
  docker-atc1441-exporter/atc1441_exporter/utils.py
  docker-atc1441-exporter/bin/pylint
  docker-atc1441-exporter/bin/ty
  docker-atc1441-exporter/pyproject.toml
  docker-atc1441-exporter/tests/decode_test.py
  docker-atc1441-exporter/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

refactor(atc1441): modernise and split the vendored aioblescan subset
  .pre-commit-config.yaml
  docker-atc1441-exporter/.pre-commit-config.yaml
  docker-atc1441-exporter/atc1441_exporter/_aioblescan.py
  docker-atc1441-exporter/atc1441_exporter/_aioblescan/__init__.py
  docker-atc1441-exporter/atc1441_exporter/_aioblescan/base.py
  docker-atc1441-exporter/atc1441_exporter/_aioblescan/commands.py
  docker-atc1441-exporter/atc1441_exporter/_aioblescan/events.py
  docker-atc1441-exporter/atc1441_exporter/_aioblescan/fields.py
  docker-atc1441-exporter/atc1441_exporter/_aioblescan/scanner.py
  docker-atc1441-exporter/atc1441_exporter/main.py
  docker-atc1441-exporter/pyproject.toml
  docker-atc1441-exporter/tests/decode_test.py
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

chore(repo): bump config
  .pre-commit-config.yaml
  docker-atc1441-exporter/.pre-commit-config.yaml
  docker-atc1441-exporter/bin/pylint
  docker-atc1441-exporter/bin/ty
  docker-gcloud-pubsub-emulator/.pre-commit-config.yaml
  task/.pre-commit-config.yaml
Due: none

fix(atc1441): fixup casing issue
  docker-atc1441-exporter/README.rst
  docker-atc1441-exporter/atc1441_exporter/main.py
  docker-atc1441-exporter/pyproject.toml
  docker-atc1441-exporter/tests/decode_test.py
  docker-atc1441-exporter/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(task): add "ready" preset
  task/task/schema.py
Due: pytest-fixtures-require-scope

chore(deps): unpin max requires-python
  docker-atc1441-exporter/pyproject.toml
  docker-atc1441-exporter/uv.lock
  docker-gcloud-pubsub-emulator/pyproject.toml
  docker-gcloud-pubsub-emulator/uv.lock
  task/pyproject.toml
  task/uv.lock
Due: poetry-check, pyproject-use-version-ranges

feat(task): fixup preset sort orders
  task/task/schema.py
Due: pytest-fixtures-require-scope

feat(renovate): add uv pre-commit hook to uv group
  renovate/groups.json5
Due: none

feat(renovate): add pylint group rule
  renovate/groups.json5
Due: none

fix(renovate): fixup hadolint regex
  renovate/versioning.json5
Due: none

feat(renovate): support tkj/caddy-security version shape
  renovate/versioning.json5
Due: none

chore(ci): migrate to gha
  .circleci/config.yml
  .github/renovate.json5
  .github/workflows/_docker-image.yml
  .github/workflows/ci.yml
  README.rst
Due: none

chore(deps): update gcloud-pubsub-emulator lockfile
  docker-gcloud-pubsub-emulator/uv.lock
Due: none

chore(gha): clean up docker job names
  .github/workflows/ci.yml
Due: none

fix(renovate): fix support for semi-malformed calver tags
  renovate/versioning.json5
Due: none

refactor(renovate): replace deprecated match/file constructs
  renovate/automerge.json5
  renovate/custom.json5
  renovate/groups.json5
  renovate/pins.json5
  renovate/version-as-app.json5
  renovate/version-as-lib.json5
  renovate/version-file-as-app.json5
  renovate/version-file-as-lib.json5
  renovate/versioning.json5
Due: none

feat(gha): add reusable commit-hash tag-pruning workflow
  .github/workflows/_prune-tags.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  README.rst
  gha/.pre-commit-config.yaml
  gha/gha_tools/__init__.py
  gha/gha_tools/prune_tags/__init__.py
  gha/gha_tools/prune_tags/__main__.py
  gha/gha_tools/prune_tags/main.py
  gha/gha_tools/prune_tags/registries.py
  gha/gha_tools/prune_tags/selection.py
  gha/pyproject.toml
  gha/tests/selection_test.py
  gha/uv.lock
Due: poetry-check, pyproject-use-version-ranges, pytest-fixtures-require-scope

feat(ci): prune commit-hash image tags weekly
  .github/workflows/prune-tags.yml
Due: none

chore(ci): prune image tags for real (dry-run off by default)
  .github/workflows/_prune-tags.yml
  .github/workflows/prune-tags.yml
Due: none

chore(ci): remove ai cruft comment
  .github/workflows/prune-tags.yml
Due: none

chore(repo): bump config
  .github/workflows/autoapproval.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/wip.yml
  docker-atc1441-exporter/.pre-commit-config.yaml
  docker-gcloud-pubsub-emulator/.pre-commit-config.yaml
  gha/.pre-commit-config.yaml
  gha/pyproject.toml
  task/.pre-commit-config.yaml
Due: poetry-check, pyproject-use-version-ranges

chore(ci): pin ubuntu runner version
  .github/workflows/_docker-image.yml
  .github/workflows/_prune-tags.yml
Due: none

Path conditions:
  poetry-check: any of: pyproject\.toml$, but not: ^docker-tuning-primer/root/.*.sh$
  pyproject-use-version-ranges: any of: pyproject.toml$ and \.toml$ and not (^docker-tuning-primer/root/.*.sh$)
  pytest-fixtures-require-scope: any of: \.py$, but not: ^docker-tuning-primer/root/.*.sh$
